<div class="filthers">
  <app-filthers></app-filthers>
</div>

  <mat-grid-list cols="4" rowHeight="2:2">
    <ng-container *ngFor="let article of allNews">
      <mat-grid-tile>
        <mat-card class="article" >


          <mat-card-header >

            <mat-card-title >{{article.title}}</mat-card-title>
            <mat-card-subtitle>Recinto: {{article.universityBranch.name}}</mat-card-subtitle>
            <mat-card-subtitle>Categor&iacute;a: {{article.newsCategory.newsCategoryName}}</mat-card-subtitle>
            <mat-card-subtitle>Fecha de publicación: {{article.publicationDate}} </mat-card-subtitle>
            <mat-card-subtitle>Autor: {{article.authorName}} {{article.authorLastName}}</mat-card-subtitle>

          </mat-card-header>


          <mat-card-content >
            <hr>
            <!--IMAGE-->
            <img mat-card-image class="images" src={{article.imageUrl}} alt="News Article Image">
            <br>
            <a [routerLink]="['/news/show', article.newsId]" ><button class="button">Leer m&aacute;s</button></a>
          </mat-card-content>




        </mat-card>
      </mat-grid-tile>
    </ng-container>

  </mat-grid-list>

<mat-paginator [length]="news.length"
                [pageSize]="size"
                [pageIndex]="page"
                [pageSizeOptions]="[4, 8, 10]"
                (page)="getData($event)">
</mat-paginator>
