/*table {
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

tr:nth-child(even){

background: #AAE8F9;

}  

table td:first-child {
width: 400px;
}
*/

.space{
  position: absolute;
  top: 25%;
  left: 40%;
  margin-top: -50px;
  width: 500px;
  height: 100px;
}

