<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body background="./assets/img/girasol.png">

    <div class="mainDiv">

        <h1>Corregir detalles de publicación de proyectos</h1>
        <form class="form" (ngSubmit)="Submit()">

            <h4>Seleccione el tipo de proyecto</h4>
            <mat-form-field>
                <mat-label>Sede o Recinto</mat-label>
                <mat-select  [(value)]="branch.name">
                    <mat-option *ngFor="let branch of branches" [value]="branch">
                        {{branch}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="mat-form-field">
                <mat-label>Nombre del proyecto</mat-label>
                <input matInput placeholder="" [(ngModel)]="title" name="title">
            </mat-form-field>


            <mat-form-field class="example-full-width">
                <mat-label>descripción</mat-label>
                <textarea matInput [(ngModel)]="description" name="description"></textarea>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fecha de inicio</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="startDate" name="startDate">
                <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fecha de finalizacion</mat-label>
                <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate" name="endDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <!--<mat-checkbox [checked]="active" [(ngModel)]="active" name="active">Marque si su proyecto está actualmente activo</mat-checkbox>-->

            <div class="div_space"></div>

            <div class="form-element">
                <button mat-raised-button type="submit" color="primary">Corregir publicación</button>
            </div>

        </form>

        <div class="form-element">
            <button mat-raised-button  (click)="openDialog()">Ver review</button>
        </div>

    </div>

</body>

</html>