body{
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 85%;
  background-position-y: 85%;
  background-size: 400px;
  //background-color: #ECECEC;
  //background-image: url(../assets/img/girasol.jpg);
}


.page-wrapper{
  min-height: 100%;
}
